:root {
  --ion-color-primary: #0F2C59;
  --ion-color-primary-rgb: 15, 44, 89;
  --ion-color-primary-contrast: #ffffff;

  --ion-color-secondary: #F7931E;
  --ion-color-secondary-rgb: 247, 147, 30;
  --ion-color-secondary-contrast: #ffffff;

  --ion-color-light: #F8F9FA;
  --ion-color-dark: #1F2937;
}